<div class="tabs">
    <div class="index">
        <button tabindex="0"
                role="tab"
                (click)="tab=0"
                (keyup.enter)="tab=0"
                [ngClass]="{active: tab===0}">Трейлер</button>
        <button tabindex="0"
                *ngFor="let source of sources; index as i"
                role="tab"
                (click)="tab=i+1"
                (keyup.enter)="tab=i+1"
                [ngClass]="{active: tab===i+1}">Джерело {{i+1}}</button>
    </div>
    <div class="contents text-center">
        <!-- <div *ngIf="tab === 0"
             [innerHTML]="sanitizer.bypassSecurityTrustHtml(film.trailer)"></div> -->
        <app-player *ngIf="tab === 0"
                    [source]="trailer"
                    width="720px"
                    height="400px"></app-player>
        <div *ngFor="let source of sources; index as i">
            <app-player *ngIf="tab === i+1"
                        [source]="source"
                        width="720px"
                        height="400px"></app-player>
        </div>
    </div>
</div>