.example-card {
    max-width: 204px;
    display: inline-block;

}

.example-card img {
    width: 100%;
}

.image-block {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.example-card img:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

mat-card-content {
    text-align: start;
}

mat-card-content h1,
mat-card-content h2 {
    display: block;
}

mat-card-content h1 {
    font-size: 20px;
    color: #000;
}

mat-card-content h2 {
    font-size: 13px;
    color: #666666;
}


.member-icons {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}