<div *ngIf="user"
     class="container">
    <mat-tab-group>
        <mat-tab label="Info">
            <div class="row w-100">
                <div class="user-photo-section col-4 py-2">
                    <div class="film-block text-center">
                        <div class="img-preview my-2">
                            <img class="logo-img"
                                 [src]="imageUrl"
                                 alt="">
                            <img *ngIf="!imageUrl"
                                 class="logo-img"
                                 [src]="'../../assets/photos/profile.png'"
                                 alt="">
                        </div>

                        <label class="image-upload-container btn btn-bwm my-2 w-100"
                               mat-button>
                            <span>Загрузити лого</span>
                            <input #imageInput
                                   type="file"
                                   accept="image/*"
                                   (change)="handleFileInput(imageInput.files ? imageInput.files[0] : null)">
                        </label>
                    </div>
                </div>
                <div class="user-info-section col-8">
                    <div class="user-info-fields">
                        <div class="user-info-form-fields">
                            <form class="example-form">
                                <mat-form-field appearance="outline"
                                                class="w-100 ">
                                    <mat-label>Nickname</mat-label>
                                    <input [formControl]="$any(userForm.controls['nickname'])"
                                           matInput>

                                </mat-form-field>

                                <mat-form-field appearance="outline"
                                                class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput
                                           disabled
                                           value="{{user.email}}">
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button [disabled]="!userForm.dirty"
                            mat-raised-button
                            (click)="sendData()"
                            color="primary"
                            class="mat-step-btn">Save</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab [disabled]="user.subscribedTo.length <= 0"
                 label="Subscriptions">
            <div class="films-list">
                <app-film-card *ngFor="let film of user.subscribedTo"
                               [film]="film"
                               mode="unsubscribing"
                               (onUnsubscribe)="onUnsubscribe($event)"></app-film-card>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>