<div class="container"
     *ngIf="film">

    <div class="film-header row">
        <div class="film-image-section col-3">
            <div class="film-image text-center">
                <img [src]="film.photoUrl"
                     onerror="this.src='../../assets/photos/Marvel.jpeg'"
                     alt="film poster">
            </div>
            <div class="film-actions-section">
                <p class="rating-text">Relaxinema: {{filmRate?.toFixed(2)}}</p>
                <app-rating [currentRate]="currentUserRate"
                            (rate)="setCurrentRating($event)"></app-rating>
            </div>
        </div>
        <div class="film-info col-9">
            <h1 class="text-center">{{film.name}}</h1>
            <p *ngIf="film.year">Рік:{{film.year}}</p>
            <p>Жанр: {{filmGenres}}</p>
            <p *ngIf="film.limitation">Вік: {{film.limitation}}</p>
            <p *ngIf="film.description">{{film.description}}</p>
        </div>
    </div>

    <div class="main-film-section row justify-content-center">
        <div class="film-player col-8">
            <app-tabs [trailer]="film.trailer"
                      [sources]="film.sources"></app-tabs>
        </div>
    </div>

    <div class="comments-section row justify-content-center">
        <h2 class="comment-title">Коментарі</h2>
        <div class="col-10">
            <app-comment [filmId]="film.id"></app-comment>
        </div>

    </div>

</div>