<div class="container"
     *ngIf="film">

    <div class="film-header row">
        <div class="film-image-section col-3">
            <div class="film-image text-center">
                <img [src]="film.photoUrl"
                     onerror="this.src='../../assets/photos/relaxinema.png'"
                     alt="film poster">
            </div>
            <div class="film-actions-section">
                <div class="rating"
                     *ngIf="!film.isExpected; else elseBlock">
                    <p class="rating-text">Relaxinema: {{filmRate?.toFixed(2)}}</p>
                    <app-rating [currentRate]="currentUserRate"
                                (rate)="setCurrentRating($event)"></app-rating>
                </div>
                <ng-template #elseBlock>
                    <button *ngIf="!isSubscribed; else isNotSubscribed"
                            class="btn-subscribe"
                            mat-raised-button
                            color="primary"
                            (click)="subscribe()">
                        Підписатись
                    </button>
                    <ng-template #isNotSubscribed>
                        <button class="btn-subscribe"
                                mat-raised-button
                                color="primary"
                                (click)="unsubscribe()">
                            Відписатись
                        </button>
                    </ng-template>
                </ng-template>
            </div>
        </div>
        <div class="film-info col-9">
            <h1 class="text-center">{{film.name}}</h1>
            <p *ngIf="film.year">Рік: {{film.year}}</p>
            <p>Жанр: {{filmGenres}}</p>
            <p *ngIf="film.limitation">Вік: {{film.limitation + "+"}}</p>
            <p *ngIf="film.description">{{film.description}}</p>
        </div>
    </div>

    <div class="main-film-section row justify-content-center">
        <div class="film-player col-8">
            <app-tabs [trailer]="film.trailer"
                      [sources]="film.sources"></app-tabs>
        </div>
    </div>

    <div class="comments-section row justify-content-center">
        <h2 class="comment-title">Коментарі</h2>
        <div class="col-10">
            <app-comment [filmId]="film.id"></app-comment>
        </div>

    </div>

</div>