<mat-form-field appearance="outline"
                class="w-100 mb-2">
       <mat-label>{{label}}</mat-label>
       <input matInput
              type={{type}}
              [formControl]="control"
              placeholder={{label}}>
       <mat-error class="mt-1"
                  *ngIf="control.errors?.['required']">
              Please enter a {{label}}
       </mat-error>
       <mat-error class="mt-1"
                  *ngIf="control.errors?.['email']">
              Please enter a valid email
       </mat-error>
       <mat-error class="mt-1"
                  *ngIf="control.errors?.['minlength']">
              {{label}} must be at least {{control.errors?.['minlength'].requiredLength}} characters
       </mat-error>
       <mat-error class="mt-1"
                  *ngIf="control.errors?.['maxlength']">
              {{label}} grater than {{control.errors?.['maxlength'].requiredLength}} characters
       </mat-error>
       <mat-error class="mt-1"
                  *ngIf="control.errors?.['notMatching']">
              Passwords do not match
       </mat-error>
</mat-form-field>