.btn {
    color: white;
}

.btn-filter {
    min-width: 149px;
    background-color: var(--Logo);
    color: #fff;
}

.btn-filter-group {
    width: 149px;
    background-color: var(--Logo);
    padding: 0;
    text-align: center;
    margin: 0 15px;
}

.btn-asc {
    position: relative;
    padding: 0;
}

.reverse {
    rotate: 180deg;
}

.btn-filter:focus,
.btn-filter:active {
    min-width: 149px;
    border: none;
    color: white;
    font: inherit;
    outline: none;
}

.caret {
    margin-left: 0;
    padding-top: 1px;
    margin-top: 1px;
}

button#button-basic::after {
    margin-left: 0;
    margin: auto 5px;
}