<div class="d-flex">
    <div class="btn-group btn-filter-group"
         dropdown>
        <button id="button-basic"
                dropdownToggle
                type="button"
                class="btn dropdown-toggle btn-filter color-white d-flex align-content-center justify-content-center"
                aria-controls="dropdown-basic">
            {{this.filterParams.year ?? "Рік"}}
        </button>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
                <button (click)="setYear(null)"
                        class="dropdown-item">Всі</button>

            </li>
            <li role="menuitem"
                *ngFor="let year of years">
                <button class="dropdown-item"
                        (click)="this.filterParams.year !== year && setYear(year)">{{year}}</button>
            </li>
        </ul>
    </div>

    <div class="btn-group btn-filter-group"
         dropdown>
        <button id="button-basic"
                dropdownToggle
                type="button"
                class="btn dropdown-toggle btn-filter color-white d-flex align-content-center justify-content-center"
                aria-controls="dropdown-basic">
            {{this.filterParams.genre ?? "Жанр"}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
                <button (click)="setGenre(null)"
                        class="dropdown-item">Всі</button>
            </li>
            <li role="menuitem"
                *ngFor="let genre of genres">
                <button (click)="this.filterParams.genre !== genre && setGenre(genre)"
                        class="dropdown-item">{{genre}}</button>
            </li>
        </ul>
    </div>

    <div class="btn-group btn-filter-group"
         dropdown>
        <button id="button-basic"
                dropdownToggle
                type="button"
                class="btn dropdown-toggle btn-filter color-white d-flex align-content-center justify-content-center"
                aria-controls="dropdown-basic">
            {{this.filterParams.expected == null ? "Всі фільми" : this.filterParams.expected ? "Очікуються" :
            "Вже вийшли"}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
                <button (click)="setExpected(null)"
                        class="dropdown-item">Всі</button>
            </li>
            <li role="menuitem">
                <button (click)="setExpected(false)"
                        class="dropdown-item">Вже вийшли</button>
            </li>
            <li role="menuitem">
                <button (click)="setExpected(true)"
                        class="dropdown-item">Очікуються</button>
            </li>
        </ul>
    </div>

    <div class="btn-group btn-filter-group"
         dropdown>
        <button id="button-basic"
                dropdownToggle
                type="button"
                class="btn dropdown-toggle btn-filter d-flex align-content-center justify-content-center"
                aria-controls="dropdown-basic">
            {{this.filterParams.orderByParams?.orderBy ?? "Сортувати"}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem">
                <button (click)="setOrderBy('Дата')"
                        class="dropdown-item">Рік</button>
            </li>
            <li role="menuitem">
                <button (click)="setOrderBy('Назва')"
                        class="dropdown-item">Назва</button>
            </li>
            <li role="menuitem">
                <button (click)="setOrderBy('Рейтинг')"
                        class="dropdown-item">Рейтинг</button>
            </li>
        </ul>
    </div>

    <button *ngIf="filterParams.orderByParams"
            class="btn btn-asc"
            (click)="changeSortDirection()">
        <svg *ngIf="!filterParams.orderByParams.asc"
             class="fill-logo"
             xmlns="http://www.w3.org/2000/svg"
             height="40px"
             viewBox="0 0 320 512">
            <path
                  d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
        </svg>
        <svg *ngIf="filterParams.orderByParams.asc"
             class="fill-logo reverse"
             xmlns="http://www.w3.org/2000/svg"
             height="40px"
             viewBox="0 0 320 512">
            <path
                  d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
        </svg>

    </button>

</div>