.photo-section {
    width: 100px;

}

.user-photo {
    width: 100%;
    border-radius: 5px;
}

.comment-text-section {
    display: flex;
    align-items: center;
}

.comment-text {
    margin: 0;
    margin-left: 15px;
}