<nav class="navbar fixed-top bg-default p-0">
    <div class="paddingless-container d-block">
        <div class="row">
            <div class="col-7 d-flex align-items-center">
                <a class="logo-name"
                   routerLink="home">Relaxinema</a>

                <a class="nav-link"
                   *ngIf="isAdmin"
                   routerLink="/genres">Genres</a>

                <a class="nav-link"
                   *ngIf="isAdmin"
                   routerLink="/admins">Admins</a>

            </div>
            <div class="col-3 my-auto mr-auto p-0">
                <div class="input-group rounded">
                    <input type="search"
                           class="form-control rounded"
                           placeholder="Search"
                           aria-label="Search"
                           aria-describedby="search-addon" />
                    <span class="input-group-text border-0 bg-opacity-0"
                          id="search-addon">
                        <i class="fa fa-search text-white"
                           style="color: #ffffff;"></i>
                    </span>
                </div>
            </div>

            <a *ngIf="!(this.currentUser | async) && shouldShowButton()"
               routerLink="/register"
               [queryParams]="{ returnUrl: this.authorizationUseDeepLinkingService.getReturnUrl() }"
               class="col-2 my-auto d-flex justify-content-end">
                <svg class="login d-block justify-self-end"
                     xmlns="http://www.w3.org/2000/svg"
                     width="99"
                     height="44"
                     viewBox="0 0 99 44"
                     fill="none">
                    <path d="M99 22L0 43.6506L0 0.349365L99 22Z"
                          fill="#460000" />
                </svg>
                <span routerLink="/register"
                      class="enter-text color-dropdown">Увійти</span>
            </a>

            <button *ngIf="(this.currentUser | async) && shouldShowButton()"
                    (click)="logOut()"
                    class="btn col-2 my-auto d-flex justify-content-end align-items-center ">
                <div>
                    <span class="text color-dropdown">Вийти</span>
                </div>
                <div class="pause-icon d-flex align-items-center">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </button>

        </div>
    </div>
</nav>