<div class="pagination d-flex justify-content-center my-2">
        <div class="pages">
                <button (click)="onPageChange(paginatedParams.pageNumber - 1)"
                        [ngClass]="{ 'disabled' :paginatedParams.pageNumber === 1}">&laquo;</button>
                <button (click)="onPageChange(1)"
                        *ngIf="this.paginatedParams.pageNumber - 3 >= 0">{{1}}</button>
                <p *ngIf=" this.paginatedParams.pageNumber > 3">...</p>
                <button (click)="onPageChange(paginatedParams.pageNumber - 1)"
                        *ngIf="this.paginatedParams.pageNumber - 1 > 0">{{this.paginatedParams.pageNumber-1}}</button>
                <button class="active">{{this.paginatedParams.pageNumber}}</button>
                <button (click)="onPageChange(paginatedParams.pageNumber + 1)"
                        *ngIf="this.paginatedParams.pageNumber + 1 <= totalPages">{{this.paginatedParams.pageNumber+1}}</button>
                <p *ngIf=" totalPages - this.paginatedParams.pageNumber > 2">...</p>
                <button (click)="onPageChange(totalPages)"
                        *ngIf="this.paginatedParams.pageNumber + 2 <= totalPages">{{totalPages}}</button>
                <button (click)="onPageChange(this.paginatedParams.pageNumber + 1)"
                        [ngClass]="{ 'disabled' :paginatedParams.pageNumber === totalPages}">&raquo;</button>
        </div>
        <div class="size-togler">
                <div class="btn-group"
                     dropdown
                     #dropdown="bs-dropdown"
                     [autoClose]="false">
                        <button id="button-basic"
                                dropdownToggle
                                type="button"
                                class="btn dropdown-toggle"
                                aria-controls="dropdown-basic">
                                {{this.paginatedParams.pageSize}} <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic"
                            *dropdownMenu
                            class="dropdown-menu"
                            role="menu"
                            aria-labelledby="button-basic">
                                <li role="menuitem"
                                    *ngFor="let size of itemsPerPage">
                                        <button class="dropdown-item"
                                                (click)="paginatedParams.pageSize !== size && onPageSizeChange(size)">{{size}}</button>
                                </li>
                        </ul>
                </div>
        </div>
</div>