<div class="row justify-content-between">
    <div class="col-8">
        <app-filter (loadData)="applyFiltration($event)"></app-filter>
    </div>
    <div *ngIf="accountService.isCurrentUserAdmin() | async"
         class="col-4 d-flex flex-column align-items-end">
        <div class="create">
            <app-create-button (onClick)="navigateToCreate()"></app-create-button>
        </div>
        <div>
            <mat-checkbox [checked]="showHiddens"
                          (click)="changeShowHiddens()"
                          [labelPosition]="labelPosition"
                          class="example-margin">Приховані</mat-checkbox>
        </div>
    </div>
</div>