<div class="container">
    <!-- <mat-tab-group>
        <mat-tab label="Інформація">
            <mat-list>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Джерела"> Content 2 </mat-tab>
    </mat-tab-group> -->



    <mat-stepper linear
                 #stepper>

        <mat-step [stepControl]="infoRequiredFormGroup"
                  [editable]="true">
            <div class="row">
                <form [formGroup]="infoRequiredFormGroup"
                      class="row">
                    <div class="col-4 d-flex flex-column align-items-center input-column">

                        <ng-template matStepLabel>Інформація про фільм</ng-template>

                        <div class="d-flex flex-column my-2">
                            <mat-checkbox [formControl]="$any(infoRequiredFormGroup.controls['isExpected'])"
                                          class="example-margin"
                                          (change)="changedExpected()">Очікується</mat-checkbox>
                            <mat-checkbox [formControl]="$any(infoRequiredFormGroup.controls['publish'])"
                                          class="example-margin">Опублікувати</mat-checkbox>
                        </div>

                        <div class="img-preview my-2"
                             *ngIf="imageUrl">
                            <img [src]="imageUrl"
                                 alt="Image Preview">
                        </div>


                        <label class="image-upload-container btn btn-bwm my-2"
                               mat-button>
                            <span>Завантажити лого</span>
                            <input #imageInput
                                   type="file"
                                   accept="image/*"
                                   (change)="handleFileInput(imageInput.files ? imageInput.files[0] : null)">
                        </label>
                        <div *ngIf="$any(infoRequiredFormGroup.controls['isExpected'].invalid)"
                             class="required-error">
                            <mat-error>You must enter an image</mat-error>
                        </div>


                    </div>

                    <div class="col-4 input-column central-info-column">
                        <mat-form-field class="w-100"
                                        appearance="outline">
                            <mat-label>Назва</mat-label>
                            <input matInput
                                   [formControl]="$any(infoRequiredFormGroup.controls['name'])">
                        </mat-form-field>

                        <mat-form-field class="w-100"
                                        appearance="outline">
                            <mat-label>Рік</mat-label>
                            <input matInput
                                   type="number"
                                   [formControl]="$any(infoRequiredFormGroup.controls['year'])">
                        </mat-form-field>

                        <mat-form-field class="w-100"
                                        appearance="outline">
                            <mat-label>Вікове обмеження</mat-label>
                            <input matInput
                                   type="number"
                                   [formControl]="$any(infoRequiredFormGroup.controls['limitation'])">
                        </mat-form-field>

                        <mat-form-field class="w-100"
                                        appearance="outline">
                            <mat-label>Опис</mat-label>
                            <textarea matInput
                                      [formControl]="$any(infoRequiredFormGroup.controls['description'])"
                                      cdkTextareaAutosize
                                      #autosize="cdkTextareaAutosize"
                                      cdkAutosizeMinRows="7"
                                      cdkAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="col-4 input-column">
                        <div>
                            <div
                                 *ngFor="let genre of infoRequiredFormGroup.controls['genreNames'].controls; let i = index">
                                <mat-form-field>
                                    <mat-label>Жанр</mat-label>
                                    <mat-select [formControl]="genre">
                                        <mat-option *ngIf="genre.value"
                                                    [value]="genre.value"
                                                    selected>{{genre.value}}</mat-option>
                                        <mat-option *ngFor="let genreName of possibleGenres"
                                                    [value]="genreName">{{genreName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <button *ngIf="i > 0"
                                        class="my-2 btn btn-bwm"
                                        (click)="removeGenre(i)">Видалити жанр</button>
                            </div>
                        </div>

                        <button *ngIf="possibleToAddGenre"
                                type="button"
                                class="btn btn-bwm"
                                (click)="addGenre()">Додати жанр</button>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button class="mat-step-btn"
                                mat-raised-button
                                matStepperNext
                                color="primary">Next</button>
                    </div>
                </form>
            </div>

        </mat-step>

        <mat-step [stepControl]="sourcesFormGroup"
                  [editable]="true">
            <form [formGroup]="sourcesFormGroup"
                  class="row">
                <ng-template matStepLabel>Джерела</ng-template>
                <div class="col-12">
                    <p class="input-label">Трейлер</p>
                    <mat-form-field class="w-100">
                        <mat-label>Трейлер</mat-label>
                        <input matInput
                               [formControl]="sourcesFormGroup.controls['trailer']">
                    </mat-form-field>
                    <div *ngIf="!isExpected">
                        <p class="input-label">Джерела</p>
                        <div>
                            <div *ngFor="let source of sourcesFormGroup.controls['sources'].controls; let i = index">
                                <mat-form-field class="w-100">
                                    <mat-label>Джерело</mat-label>
                                    <input matInput
                                           [formControl]="source">
                                </mat-form-field>

                                <button *ngIf="i > 0"
                                        class="my-2 btn btn-bwm"
                                        (click)="removeSource(i)">Видалити джерело</button>
                            </div>
                        </div>

                        <button *ngIf="!isExpected"
                                type="button"
                                class="btn btn-bwm"
                                (click)="addSource()">Додати джерело</button>
                    </div>

                </div>

                <div class="col-12 d-flex justify-content-end">
                    <button mat-raised-button
                            matStepperPrevious
                            class="mx-3">Back</button>
                    <button mat-raised-button
                            matStepperNext
                            (click)="sendData()"
                            color="primary"
                            class="mat-step-btn">Save</button>
                </div>
            </form>
        </mat-step>

    </mat-stepper>
</div>