<div class="body d-flex flex-column">
        <!-- <ngx-spinner type="line-scale-party">
                <h3>Loading</h3>
        </ngx-spinner> -->

        <app-navbar></app-navbar>

        <div class="slidable-zone d-flex flex-column align-items-between">
                <div class="main w-100"
                     [@bounce]="getState(outlet)">
                        <router-outlet #outlet="outlet"></router-outlet>
                </div>

                <div class="mt-auto w-100">
                        <app-footer></app-footer>
                </div>
        </div>


</div>