.example-card {
    max-width: 189px;
}

.example-card:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

mat-card-content {
    text-align: start;
}

mat-card-content h1,
mat-card-content h2 {
    display: block;
}

mat-card-content h1 {
    font-size: 20px;
    color: #000;
}

mat-card-content h2 {
    font-size: 13px;
    color: #666666;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}