:root {
    --Navigation: #1F1F1F;
    --Logo: #600000;
    --dropdown: #AAA;
}

* {
    color: #383838;
    font-size: 20px;
}

@font-face {
    font-family: 'Calligraffitti';
    src: url('assets/fonts/Calligraffitti/Calligraffitti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantata One';
    src: url('assets/fonts/Cantata_One/CantataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1120px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.bg-default {
    background: var(--Navigation);
}

.bg-opacity-0 {
    background: rgb(0, 0, 0, 0);
}

.color-dropdown {
    color: var(--dropdown);
}

.main {
    margin-top: 80px;
    margin-bottom: 25px;
}



.logo-name {
    color: var(--Logo);
    font-family: Calligraffitti;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.7px;
    text-decoration: none;
}

.color-white {
    color: white;
}

.full {
    width: 100%;
}

.bg-black {
    background-color: rgb(0, 0, 0);
}

.body {
    min-height: 100vh;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Cantata One; */
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}