<app-trailers></app-trailers>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-8">
            <app-filter (loadData)="applyFiltration($event)"></app-filter>
        </div>
        <div class="col-4 d-flex flex-column align-items-end">
            <div class="create">
                <app-create-button (onClick)="navigateToCreate()"></app-create-button>
            </div>
        </div>
    </div>
    <div class="films-list">
        <app-film-card *ngFor="let film of paginatedData"
                       [film]="film"></app-film-card>
        <!-- <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card> -->
    </div>
    <app-pagination [itemsPerPage]="[5, 10, 25, 50]"
                    [totalItems]="totalItems"
                    (changePage)="onPaginationChange($event)"></app-pagination>
</div>