<div class="container">
    <div class="row justify-content-between">
        <div class="col-8">
            <app-filter (loadData)="applyPagination($event)"></app-filter>
        </div>
        <div class="col-4 d-flex flex-column align-items-end">
            <div class="create">
                <a class="btn"
                   routerLink="/create">Створити
                    <svg xmlns="http://www.w3.org/2000/svg"
                         height="25px"
                         class="fill-logo"
                         viewBox="0 0 448 512">
                        <path
                              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="films-list">
        <app-film-card *ngFor="let film of paginatedData"
                       [film]="film"></app-film-card>
        <!-- <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card>
        <app-film-card [film]="paginatedData[0]"></app-film-card> -->
    </div>
    <app-pagination [itemsPerPage]="[5, 10, 25, 50]"
                    [totalItems]="totalItems"
                    (changePage)="onPaginationChange($event)"></app-pagination>
</div>